<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div> <br>

    <div>
      <h2> Reviews </h2> <br>
      <% @product.reviews.each do |review| %>
        <p> <strong> <%= review.user.name %>:</strong> <%= review.description %> (<i>Rating: <%= review.rating %></i>) </p>
        <br>
      <% end %>
      <br>

      <!-- <form style="background-color:orange">
        <h3>Submit your own review</h3><br>
        <textarea name="review-description" placeholder="Write your review here"></textarea>
        <br><br><strong>Submit a rating:<strong>
          <select name="rating">
            <option value="one">One star</option>
            <option value="two">Two stars</option>
            <option value="three">Three stars</option>
            <option value="four">Four stars</option>
            <option value="five">Five stars</option>
          </select>
          <br><br>
          <button type="submit">Submit</button>
      </form> -->
    </div>



    <!--  grab params in controller-->
    <% if current_user %>
      <%= form_for [@product, @review] do |f| %>
        <h3>
          Write your review here
        <h3>
        <%= f.text_area :description %>
        <br>Rating
        <%= f.select :rating, [1, 2, 3, 4, 5] %>
        <%= f.submit "Submit" %>
      <% end %>
    <% end %>

  </article>
</section>
